/* RESET CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E2E2E2;
}

.clear {
    clear: both;
}

/* HEADER --------------------------------------*/

header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 70px;
    background-color: #DC0D15;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

header .logo {
    margin-left: 70px;
    height: 70px;
}

header .logo img {
    width: 85px;
    height: 70px;

}

header .title {
    margin-left: -920px;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    border-left: 2px solid #fff;
    font-size: 20px;
    font-weight: bold;
}

header .avatar {
    width: 40px;
    height: 40px;
    margin-right: 70px;

}

header .avatar a {
    width: 40px;
    height: 40px;

}

header .avatar a img {
    width: 40px;
    height: 40px;
    border-radius: 50%;

}

/* END HEADER --------------------------------------*/

/* MAIN --------------------------------------*/

main {
    width: 1150px;
    height: 500px;
    margin: 100px auto 50px auto;
    background-color: #E2E2E2;
    /* background-color: #fff; */
}

.container {
    display: flex;
}

.container .products {
    width: 100%;
    /* background-color: #2ee28e; */
}

.container .products .product-title {
    width: 100%;
    display: flex;
    background-color: #fff;
    border-bottom: 1px solid #828282;
    align-items: center;
}

.container .products .product-title .checkbox {
    accent-color: #DC0D15;
    width: 20px;
    height: 20px;
    margin: 0 15px;
    cursor: pointer;
}

.container .products .product-title .title-name {
    width: 500px;
    height: 40px;
    line-height: 40px;
}

.container .products .product-title .title-price {
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.container .products .product-title .title-quantity {
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.container .products .product-title .title-total {
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.container .products .product-title .title-action {
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.container .products .product-title h3 {
    font-size: 16px;
}

.container .products .product-item {
    width: 100%;
    height: 70px;
    background-color: #fff;
    display: flex;
    margin-bottom: 10px 0;
    align-items: center;
}

.container .products .product-item .checkbox{
    accent-color: #DC0D15;
    width: 20px;
    height: 20px;
    margin: 0 15px;
    cursor: pointer;
}

.container .products .product-item img {
    height: 50px;
    width: 50px;
}

.container .products .product-item .product-name {
    height: 50px;
    width: 450px;
    font-size: 14px;
    font-weight: normal;
    padding-left: 10px;
    margin-bottom: 0;
}

.container .products .product-item .product-price {
    height: 50px;
    width: 150px;
    font-size: 14px;
    font-weight: normal;
    text-align: right;
    padding: 18px 40px 18px 20px;
    color: #DC0D15;
    margin-bottom: 0;
}

.container .products .product-item .product-quantity {
    display: flex;
    width: 150px;
    align-items: center;
    padding: 0 24px;
    margin-bottom: 0;
}

/*  */

.container .products .product-item .product-quantity button{
    width: 30px;
    height: 30px;
    margin: 3px;
    cursor: pointer;
}

.container .products .product-item .product-quantity input{
    width: 30px;
    height: 30px;
}

/*  */
.container .products .product-item .product-total {
    height: 50px;
    width: 150px;
    font-size: 14px;
    font-weight: normal;
    text-align: right;
    padding: 18px 40px 18px 20px;
    color: #DC0D15;
    margin-bottom: 0;
}

.container .products .product-item .product-delete {
    height: 50px;
    width: 150px;
    font-size: 16px;
    text-align: center;
    padding: 16px 20px 16px 20px;
    color: #DC0D15;
    margin-bottom: 0;
}

.container .products .tongtien {
    background-color: #fff;
    padding: 20px 0;
    border-radius: 5px;
    display: flex;
    margin-top: 20px;
    align-items: center;
    height: 100px;
}

.container .products .tongtien .checkbox {
    accent-color: #DC0D15;
    width: 20px;
    height: 20px;
    margin: 0 15px;
    cursor: pointer;
}

.container .products .tongtien .delete-all {
    font-size: 16px;
    text-align: center;
    margin: 0 15px;
    color: #DC0D15;
}

.container .products .tongtien .tongthanhtoan {
    margin-left: 400px;
}

.container .products .tongtien .price-all {
    margin: 0px 50px;
    font-size: 20px;
    color: #DC0D15;
}

.container .products .tongtien p {
    line-height: 20px;
    font-weight: bold;
    margin-bottom: 0;
}

.container .products .tongtien button {
    width: 100px;
    height: 40px;
    padding: 5px 10px;
    background-color: #DC0D15;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #000;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

.container .products .tongtien button a{
    text-decoration: none;
    color: #fff;
    
}


/* END MAIN --------------------------------------*/




/* FOOTER --------------------------------------*/

footer {
    background-color: #d10000;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    height: 50px;
    width: 100%;
}

footer{
    background-color: #DC0D15;
    color: white;
    /* display: flex; */
    height: 80px;
    justify-content: space-between;

    
}
ul, a{
    text-decoration: none !important;
}
li{
    list-style: none;
}
.social{
    margin-left: 60%;

}
.foot{
    width: 100%;
    height: 2px;
    margin: 25px 50px 0px 30px;
    border-top: 1px solid rgb(128, 123, 123);
    margin-bottom: -12px;
}

/* END FOOTER --------------------------------------*/